* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1576px;
  margin: 0 auto;
  background-color: $bg-main;
}
.container-fluid {
  width: 100%;
  padding: 0.25rem;
}

.bg-color-main {
  background-color: $bg-main;
}
.uppercase {
  text-transform: uppercase;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.expo-btn {
  padding: 0.5rem 3.875rem;
  text-transform: uppercase;
  border-radius: $border-radius;
  border: 1px solid lightgray;
  background-color: $btn-prime-color;
  cursor: pointer;
  &:hover {
    background-color: $primary;
    transition: all 0.5s ease;
  }
}
