$bg-main: #e7e7e9;
$black: #050505;
$secondary: #c1dbe4;
$white: whitesmoke;
$primary: #c1e4c4;
$primary-51: #dbec62;
$black-2: #050505;
$dark-gray-2: #404040;
$transparent-2: transparent;
$dark-gray: #c7c7c7;
$border-radius-large: 64px;
$border-radius: 48px;
$transparent: transparent;
$btn-prime-color: #f5f5f580;
