@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", serif;
}

h1 {
  letter-spacing: -0.07vw;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 6rem;
  font-weight: 300;
  line-height: 6.11vw;
}
h2{
  // letter-spacing: -.07vw;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5.25rem;
  font-weight: 300;
  line-height: 5vw;
}
h4 {
  letter-spacing: -0.07vw;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.313rem;
  font-weight: 300;
  line-height: 3.33vw;
}

h5 {
  letter-spacing: 0.14vw;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.44vw;
  font-size: 1.125rem;
}
p {
  letter-spacing: 0.07vw;
  margin-bottom: 0;
  font-size: 1.313rem;
  font-weight: 300;
  line-height: 1.89vw;
}

.blur-p{
  font-size: 0.938rem;
}
.sec-h5{
  font-size: 0.813rem;
}

.metrics-text {
  font-size: 8rem;
  font-weight: 400;
  line-height: 7.22vw;
}