@media (max-width: 992px) {

    .container{
        width: 910px;
    }
    .nav-bar{
        padding: 3rem 1.5rem !important;
    }
    .nav-bar {
        padding: 2.5rem 1.5rem !important;
    }
    .nav-list{
        display: none !important;
    }
    .ham{
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .nav-logo {
        width: 125px !important;
    }
 }